html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --red-color: #FF0000;
    --blue-color: #04306A;
    --blue-dark-color: #001E47;
    --white-color: #FFFFFF;
    --grey-lite-color: #F4F4F4;
    --grey-dark-color: #B5B5B5;
    --header-height: 248px;
    --header-width: 1200px;
    --header-margin-bottom: 80px;
    --tagline-block-width: calc((100vw - var(--header-width))/2 + 500px);
}

.text-color-white {
    color: var(--white-color) !important;
}

.text-h1-regular {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--blue-dark-color);
}

.text-h1-bold {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--red-color);
}

.text-h2-regular {
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--blue-dark-color);
}

.text-h2-bold {
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--red-color);
}

.text-h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--blue-dark-color);
    text-transform: uppercase;
}

.text-regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--blue-dark-color);
}

.text-bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--blue-dark-color);
}

.text-other {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--white-color);
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: var(--header-width);
    height: var(--header-height);
    margin: 0 auto var(--header-margin-bottom) auto;
}

.logo {
    padding-top: 51px;
    width: 246px;
    height: 248px;
    left: 120px;
    border-radius: 0px 0px 20px 20px;
    background: var(--blue-color);
}

.company-name {
    text-align: center;
}

.phone-number {
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: var(--header-width);
    margin: 0 auto;
}

.main-info {
    width: 600px;
}

.about-us {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    line-height: 25.2px;
}

.services {
    overflow-y: auto;
    overflow-x: hidden;
    width: 510px;
    height: calc(100vh - var(--header-height) - var(--header-margin-bottom));
    border-radius: 20px 20px 0px 0px;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
}

.services::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.card {
    width: 510px;
    height: 375px;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px;

}

.card1 {
    background-image: linear-gradient(180deg, #001E47 0%, rgba(0, 30, 71, 0) 100%), url('../img/card-background-1.jpg');
}

.card-header {
    width: 430px;
    height: 50px;
    display: flex;
}

.card-title {
    margin-left: 20px;
    width: 250px;
    height: 50px;
}

.card-button-plus {
    margin: 0 0 0 auto;
}

.contact-block {
    position: absolute;
    left: 0;
    width: calc(100vw - var(--tagline-block-width));
    height: 100vh;
    background-image: linear-gradient(180deg, #001E47 0%, rgba(0, 30, 71, 0) 100%), url('../img/contact-block-image.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

.tagline-block {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: var(--tagline-block-width);
    height: 100vh;
    background-color: var(--blue-color);
    background-image: url('../img/lines.svg');
    background-repeat: round;
}

.tagline-text {
    width: 390px;
    height: 172px;
}

.cover {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom-block {
    display: flex;
    flex-direction: row;
}