html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --red-color: #FF0000;
    --blue-color: #04306A;
    --blue-dark-color: #001E47;
    --white-color: #FFFFFF;
    --grey-lite-color: #F4F4F4;
    --grey-dark-color: #B5B5B5;
}

/* font-family: 'Inter', sans-serif; */
.text-color-white {
    color: var(--white-color);
}

.text-h1-regular {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--blue-dark-color);
}

.text-h1-bold {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--red-color);
}

.text-h2-regular {
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--blue-dark-color);
}

.text-h2-bold {
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--red-color);
}

.text-h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--blue-dark-color);
    text-transform: uppercase;
}

.text-regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--blue-dark-color);
}

.text-bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--blue-dark-color);
}

.text-other {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--white-color);
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1200px;
    max-height: 248px;
    width: 1200px;
    min-height: 248px;
    left: 120px;
    border-radius: 0px, 0px, 20px, 20px;
    margin: 0 auto;
}

.logo {
    padding-top: 51px;
    width: 246px;
    height: 248px;
    left: 120px;
    border-radius: 0px 0px 20px 20px;
    background: var(--blue-color);
}

.company-name {
    text-align: center;
}

.phone-number {
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-top: 80px;
    margin: 0 auto;
}

.main-info {
    width: 600px;
}

.about-us {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    line-height: 25.2px;
}

.services {
    overflow: hidden;
    width: 510px;
    top: 328px;
    left: 810px;
    border-radius: 20px 20px 0px 0px;
}

.card {
    max-width: 510px;
    max-height: 375px;
}

.card-panel {
    display: flex;
    position: absolute;
    width: 430px;
    height: 50px;
    margin: 40px 40px;

}

.card-header {
    display: flex;
}

.card-icon {}

.card-title {
    margin-left: 20px;
}

.card-button-plus {}

.card-gradient {
    position: absolute;
    width: 510px;
    height: 375px;
    background: linear-gradient(180deg, #001E47 0%, rgba(0, 30, 71, 0) 100%);
}

.card-background {}

.tagline {
    margin-right: 0;
    margin-left: auto;
    width: 630px;
    height: 820px;
    background-color: var(--blue-color);
}